.obsidian/workspace.json
implementations/Tutorials-1/first-java-programming/.idea/workspace.xml
.obsidian/workspace.json
implementation/05-first-java-program/first-idea-program/.idea/vcs.xml
.idea/*
.obsidian/core-plugins.json
.obsidian/graph.json
.obsidian/core-plugins.json
.obsidian/workspace.json
